hr{
   display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: 40%;
   margin-right: 40%;
   border-style: dotted none none;
   border-width: 5px;
}
h1{
    color: azure;
}
h4{
    color: azure;
}
.Cloud_1 {
    position: absolute;
    bottom: 200px;
}
.Cloud_2 {
    position: absolute;
}
.Mountain_1 {
    position: relative;
    left: 50%;
}